body {
    font-family: Arial,'Helvetica Neue',Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

header, nav, section, aside, footer {
    background: #ebebeb;
}

header, footer, nav {
    margin: 10px;
    padding: 2.5em;
    clear: both;
}

article {
    color: #ebebeb;
    background: #777;
    padding: 10px;
    margin-top: 20px;
}

h1, p {
    color: #777;
    background: #ebebeb;
    margin: 10px;
    padding: 15px;
}

section{
    float: left;
    width: 495px;
    padding: 2em 10px 2em 10px;
    margin: 10px;
    height: 200px;
    margin-bottom: 20px;
}

aside {
    overflow: hidden;
    width: auto;
    margin-right: 10px;
    margin-top: 20px;
    height: 200px;
    padding: 2em;
    margin-bottom: 20px;
}

.container {
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}

span {
    padding: 3em;
}